.clock {
  width: 300px;
  background: rgb(236, 236, 236);
  height: 300px;
  border-radius: 50%;
  position: relative;
  transition:all 1s linear;
  transform: rotate(-90deg);
  display: flex;
}

.clock::after {
  content: " "; 
  position: absolute;
  left: 50%;
  top: 50%;
  width: 15px;
  height: 15px;
  border-radius: 1000%;
  background: rgb(0, 0, 0);
  transform: translate(-50%,-50%)
}

.hours--pointer {
  width: 30%;
  transition:all 1s linear;
  position: absolute;
  transform-origin: left; 
  left: 50%;
  top: 50%; 
  height: .5rem;
  border-radius: 1rem;
  background: rgb(0, 0, 0);
  
}
.minutes--pointer {
  width: 45%;
  position: absolute;
  transition:all 1s linear;
  transform-origin: left; 
  left: 50%;
  top: 50%; 
  height: .3rem;
  border-radius: 1rem;
  background: #000;
}
.seconds--pointer {
  width: 45%;
  position: absolute;
  transform-origin: left;  
  left: 50%;
  transition:all 1s linear;
  top: 50%; 
  height: .1rem;
  border-radius: 1rem;
  background: rgb(255, 0, 0);
}